Repository gregorias/anki-greg-styles: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, ruff-imports, yaml-prettier, yapf

ruff:
  tags: lint
  run: just ruff

ruff-imports:
  tags: style import
  run: ruff check --select=I001 {staged_files}

yaml-prettier:
  tags: style
  run: prettier -c {staged_files}

yapf:
  tags: style
  run: yapf -i -r {staged_files} && git add {staged_files}

chore: update
  Pipfile.lock
Due: none

build: migrate to Uv
  .envrc
  Pipfile
  Pipfile.lock
  README.md
  pyproject.toml
Due: none

build: stop depending on Mypy or Yapf
  README.md
  dev/bin/testall
  pyproject.toml
Due: none

build: update deps
  pyproject.toml
  uv.lock
Due: none

build: update checks
  Justfile
  dev/bin/testall
  gregstyles/__init__.py
  gregstyles/assets/internal.py
  lefthook.yml
Due: ruff, ruff-imports, yaml-prettier, yapf

build: fix Mypy setup
  Justfile
  pyproject.toml
Due: none

build: bring Lefthook up-to-date
  lefthook.yml
Due: yaml-prettier

build: sync package
  dev/bin/package
Due: none

chore: delete spurious elements
  gregstyles/assets/__init__.py
  gregstyles/main.py
  test/test_assets.py
Due: ruff, ruff-imports, yapf

chore: update
  gregstyles/main.py
Due: ruff, ruff-imports, yapf

chore(README): update README
  pyproject.toml
Due: none

chore(README): update README
  README.md
Due: none

chore(assets): delete old pygments class
  assets/_greg-styles-asset-version.txt
  assets/_greg-styles-pygments-solarized-old.css
Due: none

build: delete format-files
  .lefthook/pre-commit/format-files.bash
Due: none

chore: delete utf-8 directive
  .lefthook/pre-commit/check-asset-version.py
Due: ruff, ruff-imports, yapf

fix: stop including pygments assets
  gregstyles/assets/internal.py
Due: ruff, ruff-imports, yapf

refactor(assets): move assets to top level
  gregstyles/assets.py
  gregstyles/assets/__init__.py
  test/test_assets.py
Due: ruff, ruff-imports, yapf

refactor(assets): decouple version checking
  gregstyles/assets.py
  gregstyles/main.py
  test/test_assets.py
Due: ruff, ruff-imports, yapf

feat(assets): add guard comments
  gregstyles/assets.py
  test/test_assets.py
Due: ruff, ruff-imports, yapf

fix(main): use partial
  gregstyles/main.py
Due: ruff, ruff-imports, yapf

fix(assets): fix addon-path
  gregstyles/assets.py
Due: ruff, ruff-imports, yapf

refactor(assets): decrease Demeter
  gregstyles/assets.py
Due: ruff, ruff-imports, yapf

refactor: add guard module
  gregstyles/assets/__init__.py
  gregstyles/assets/guard.py
  test/assets/__init__.py
  test/assets/test_guard.py
Due: ruff, ruff-imports, yapf

build: fix coverage
  Justfile
  pyproject.toml
  uv.lock
Due: none

chore: fix docstring
  gregstyles/assets/guard.py
Due: ruff, ruff-imports, yapf

refactor: add model modifier
  gregstyles/assets/__init__.py
  gregstyles/assets/guard.py
  gregstyles/assets/model.py
  test/assets/model.py
  test/test_assets.py
Due: ruff, ruff-imports, yapf

feat: support internal styles
  gregstyles/assets/__init__.py
  gregstyles/main.py
  test/test_assets.py
Due: ruff, ruff-imports, yapf

chore: format styles
  assets/_greg-styles-asset-version.txt
  assets/_greg-styles-main.css
Due: none

fix: use absolute import
  gregstyles/main.py
Due: ruff, ruff-imports, yapf

fix(main): update type
  gregstyles/assets/__init__.py
  gregstyles/main.py
Due: ruff, ruff-imports, yapf

refactor: pass only media manager
  gregstyles/assets/__init__.py
  gregstyles/main.py
Due: ruff, ruff-imports, yapf

build: add CSS formatting
  assets/_greg-styles-asset-version.txt
  assets/_greg-styles-main.css
  lefthook.yml
Due: yaml-prettier

chore: delete deprecated classes
  assets/_greg-styles-asset-version.txt
  assets/_greg-styles-main.css
Due: none

chore: sync classes
  assets/_greg-styles-asset-version.txt
  assets/_greg-styles-main.css
Due: none

feat: sync styles
  assets/_greg-styles-asset-version.txt
  assets/_greg-styles-main.css
Due: none

chore: mark version
  gregstyles/manifest.json
  pyproject.toml
Due: none

refactor: clean up params
  gregstyles/assets/__init__.py
  gregstyles/main.py
  test/test_assets.py
Due: ruff, ruff-imports, yapf

feat: stop appending useless class attribute
  gregstyles/assets/__init__.py
  test/test_assets.py
Due: ruff, ruff-imports, yapf

chore: bump up version
  assets/_greg-styles-asset-version.txt
Due: none

feat: delete unused guard code
  gregstyles/assets/__init__.py
Due: ruff, ruff-imports, yapf

Path conditions:
  ruff: any of: *.py
  ruff-imports: any of: *.py
  yaml-prettier: any of: *.{yml,yaml}
  yapf: any of: *.py
