Repository gregorias/anki-greg-styles: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, ruff-imports, yaml-prettier, yapf

ruff:
  tags: lint
  run: just ruff

ruff-imports:
  tags: style import
  run: ruff check --select=I001 {staged_files}

yaml-prettier:
  tags: style
  run: prettier -c {staged_files}

yapf:
  tags: style
  run: yapf -i -r {staged_files} && git add {staged_files}

refactor: delete unused type alias
  gregstyles/assets/__init__.py
Due: ruff, ruff-imports, yapf

feat: move asset files to their own directory
  dev/bin/package
  gregstyles/assets/__init__.py
Due: ruff, ruff-imports, yapf

refactor: move add-on constants up the stack
  gregstyles/assets/__init__.py
  gregstyles/main.py
Due: ruff, ruff-imports, yapf

chore: bump up asset version
  assets/_greg-styles-asset-version.txt
Due: none

chore: test main.addon_path
  gregstyles/main.py
  test/test_main.py
Due: ruff, ruff-imports, yapf

feat: add asset tests
  gregstyles/main.py
  test/test_main.py
Due: ruff, ruff-imports, yapf

docs: document intent to use sync
  gregstyles/assets/__init__.py
Due: ruff, ruff-imports, yapf

feat: sync styles
  assets/_greg-styles-asset-version.txt
  assets/_greg-styles-main.css
Due: none

docs: use Google style
  gregstyles/assets/guard.py
Due: ruff, ruff-imports, yapf

chore: sync Lefthook with ACH
  lefthook.yml
Due: yaml-prettier

chore: clean up style
  gregstyles/assets/model.py
  test/assets/model.py
Due: ruff, ruff-imports, yapf

Path conditions:
  ruff: any of: *.py
  ruff-imports: any of: *.py
  yaml-prettier: any of: *.{yml,yaml}
  yapf: any of: *.py
